<section class="registerForm">
    <h1><%- title %></h1>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
            <form action="/account/register" id="registerForm" method="post">
                <label for="fname">First Name</label>
                <input type="text" name="account_firstname" id="fname" required value="<%- locals.account_firstname %>">
                <label for="lname">Last Name</label>
                <input type="text" name="account_lastname" id="lname" required value="<%- locals.account_lastname %>">
                <label for="email">Email Address</label>
                <input type="email" name="account_email" id="email" required value="<%= locals.account_email %>">
                <label for="password">Password</label>
                <input type="password" name="account_password" id="password" required
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                <ul class="pwd-criteria">
                    <li class="invalid character">Password must be minimum of 12 characters</li>
                    <li class="invalid uppercase">Password must include 1 capital letter</li>
                    <li class="invalid digit">Password must contain 1 number</li>
                    <li class="invalid special">Password must include 1 special character</li>
                </ul>
                <span>Show Password</span>
                <button type="submit">Register</button>
            </form>
</section>
<script type="module" src="/js/check.js"></script>