<section class="add-inventory">
    <h1><%- title %></h1>

    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%- error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
    <form action="/inv/add-inventory" id="add-inventory" method="post">
        <label for="classificationList">Classification</label>
        <%- classificationList %>

        <label for="inv_make">Make</label>
        <input type="text" name="inv_make" id="inv_make" required pattern="^.{3,}$"
            placeholder="Min of 3 characters" value="<%- locals.inv_make %>">

        <label for="inv_model">Model</label>
        <input type="text" name="inv_model" id="inv_model" required pattern="^.{3,}$"
            placeholder="Min of 3 characters" value="<%- locals.inv_model %>">

        <label for="inv_description">Description</label>
        <textarea name="inv_description" id="inv_description" required rows="10" value="<%- locals.inv_description %>"></textarea>

        <label for="inv_image">Image Path</label>
        <input type="text" name="inv_image" id="inv_image" required placeholder="Enter image path (URL)" value="<%- locals.inv_image %>">

        <label for="inv_thumbnail">Thumbnail Path</label>
        <input type="text" name="inv_thumbnail" id="inv_thumbnail" required placeholder="Enter thumbnail path (URL)" value="<%- locals.inv_thumbnail %>">

        <label for="inv_price">Price</label>
        <input type="number" name="inv_price" id="inv_price" required placeholder="decimal or integer" step="any" value="<%- locals.inv_price %>">

        <label for="inv_year">Year</label>
        <input type="text" name="inv_year" id="inv_year" pattern="\d{4}" required placeholder="4 digits only" value="<%- locals.inv_year %>">

        <label for="inv_miles">Miles</label>
        <input type="text" name="inv_miles" id="inv_miles" required placeholder="digits only" pattern="\d{2,}" value="<%- locals.inv_miles %>">

        <label for="inv_color">Color</label>
        <input type="text" name="inv_color" id="inv_color" required placeholder="Enter color" value="<%- locals.inv_color %>">

        <button type="submit">Add Vehicle</button>
    </form>

</section>